@media screen and (min-width:485px){
    #gallery section {
        display: grid;
        grid-template-columns: auto;
        position: relative;
    }
    nav ul{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, auto);
        list-style-type: none;
        text-transform: uppercase;
        margin-bottom: 10px;
        justify-content: center;
        }
}

@media screen and (min-width:880px){
    #gallery section {
        display: grid;
        grid-template-columns: auto auto;
        position: relative;
    }
    nav ul{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, auto);
        list-style-type: none;
        text-transform: uppercase;
        margin-bottom: 10px;
        justify-content: center;
        }
}


@media screen and (min-width:1300px){
    #gallery section {
        display: grid;
        grid-template-columns: auto auto auto;
        position: relative;
    }
    nav ul{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, auto);
        list-style-type: none;
        text-transform: uppercase;
        margin-bottom: 10px;
        justify-content: right;
        }
}
* {
    max-width: 1300px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
html {
    background-color: #000000;
}
body {
    text-align: center;
    margin-top: 70px;
}
h1 {
    color:#007d7b;
    font-size: 3em;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    margin: auto;
    width: 1300px;
    text-align: left;
}
h1, h2 {
    text-transform: uppercase;
}
/*
nav ul{
text-align: center;
display: grid;
grid-template-columns: repeat(3, auto);
list-style-type: none;
text-transform: uppercase;
margin-bottom: 10px;
justify-content: right;
} */
nav a {
    font-size: 1.5em;
    margin: 10px;
    text-decoration: none;
    color:#ffffff;
}
#top {
    display: none;
}
nav h2 {
    display: none;
}
p {
    font-size: 1.25em;
    margin-bottom: 20px;
}
h2 {
    font-size: 2em;
    margin-bottom: 10px;
}
main {
    background-color: #ffffff;
}
#about p, #gallery p {
    text-align: left;
}
#contact, footer{
    color: #ffffff;
    background-color: #000000;
}
figcaption, label, input, small {
    font-size: 1em;
}
figcaption {
    position: relative;
    top: -30px;
    color:#ffffff;
    font-weight: bold;
}
#guatemala {
    top: -270px;
}
#iran, #ireland {
    color:#000000;
    top: -620px;
}
#italy {
    color:#000000;
}
#rocky, #switzerland, #uk, #usa {
    color:#000000;
    top: -270px;
}
#wyoming {
    color:#ffffff;
    top: -270px;
}
input {
    border-radius: 5px;
    width: 50%;
    color:#007d7b;
    font-weight: bold;
}
#contact {
    margin-bottom: 50px;
}
form {
    margin-top: 20px;
}
#submit {
    width: 25%;
    margin-top: 20px;
    color:#ffffff;
    background-color: #007d7b;
}
footer {
    margin-top: 20px;
}
